################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/sample-mvc-app/.vs/sample-mvc-app/v17
